<!DOCTYPE html>
<html>
<head>
  <title>Good Taste</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <style>
    /* CSS to center the logo */
    .logo-container {
      text-align: center;
      margin-top: 20px; /* Adjust as needed */
    }

    .logo-container img {
      width: 1000px; /* Adjust the width as needed */
      height: auto;
    }
  </style>
</head>
<body>
  <div class="logo-container">
    <img src="https://56b77057-5525-4716-9e85-33f570e6beba-00-20so9xt2sg20s.picard.replit.dev/static/goodtaste.png">
  </div>
  <h1 style="text-align: center;">Rate music with friends</h1>
</body>
</html>
